In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [2]:
top_services = ['فاكو + زرع عدسه', 'فيمتو ليزك', 'حقن لوسينتوس', 'LASIK',
       'حقن إيليا', 'فاكو + جسم زجاجى', 'PRK', 'فاكو + حقن لوسنتس',
       'زرع عدسه', 'ازالة جسم زجاجي', 'تثبيت قرنية + PRK', 'ترقيع قرنيه ',
       'ازاله سيليكون ', 'حلقات', 'فحص تحت مخدر ', 'فيمتو كتاركت', 'حول ',
       'كتاركتا عادية وزرع', 'فك غرز', 'تثبيت قرنيه']

In [3]:
# prices = pd.read_excel('110619-_POC3_Prices_Annualy__Key_.xlsx')#, encoding='utf-8-sig')
# invCount = pd.read_excel('22052019-_POC3_Inventory_Count.xlsx')#, encoding='utf-8-sig')
# consumption = pd.read_excel('POC3_Consumption_Rates.xlsx')#, encoding='utf-8-sig')
operations = pd.read_excel('210919- POC2 (Com Name).xlsx')#, encodingServiceDate='uService Namet-sig')

In [4]:
operations.head()

,PatientId,ServiceDate,Service Name,DrId,HasInsuranceStatement,Name,BookingDate,Diagnosis,ServiceTypeId,Comm. Name,Comm. Name_AR
0,167,2016-04-16 10:12:41,Phacoemulsification (Phaco+IOL),207,0.0,Visa,NaT,NaN,3,فاكو + زرع عدسه,فاكو + زرع عدسه
1,167,2016-04-16 10:19:49,Internal Medicine Clinic + ECG,2300,0.0,Visa,NaT,NaN,1,كشف باطنى + رسم قلب,كشف باطنى + رسم قلب
2,167,2016-04-16 10:31:25,Biometry,255,0.0,Visa,NaT,NaN,4,Biometry,مقاس العدسة
3,412,2016-08-16 16:11:06,Fluorescein Angiography (FA),167,NaN,Cash,NaT,NaN,4,تصوير قاع العين بالفلورسين,تصوير قاع العين بالفلورسين
4,412,2016-08-16 16:12:20,OCT (Macula),205,NaN,Cash,NaT,NaN,4,OCT (Macula),تصوير مقطعي علي الشبكية

In [5]:
operations['ServiceDate'] = pd.to_datetime(operations['ServiceDate'])
operations.dtypes

PatientId                         int64
ServiceDate              datetime64[ns]
Service Name                     object
DrId                              int64
HasInsuranceStatement           float64
Name                             object
BookingDate              datetime64[ns]
Diagnosis                        object
ServiceTypeId                     int64
Comm. Name                       object
Comm. Name_AR                    object
dtype: object

In [6]:
operations.drop_duplicates(inplace=True)

In [7]:
len(operations)

574895

In [8]:
operations = operations[operations['Comm. Name_AR'].isin(top_services)]
len(operations)

82139

In [9]:
operation_dates = operations.drop(['PatientId','DrId','HasInsuranceStatement','BookingDate','Diagnosis','ServiceTypeId', 'Comm. Name', 'Comm. Name_AR','Name'], axis=1)
operation_dates.head()

           ServiceDate                     Service Name
0  2016-04-16 10:12:41  Phacoemulsification (Phaco+IOL)
5  2016-08-21 10:24:34  Intravitreal Lucentis Injection
6  2016-09-20 09:24:41  Intravitreal Lucentis Injection
7  2016-10-18 10:48:20  Intravitreal Lucentis Injection
10 2016-03-19 09:41:37  Phacoemulsification (Phaco+IOL)

In [53]:
raw_operations = operations.copy()
raw_operations.head()

,PatientId,ServiceDate,Service Name,DrId,HasInsuranceStatement,Name,BookingDate,Diagnosis,ServiceTypeId,Comm. Name,Comm. Name_AR
0,167,2016-04-16 10:12:41,Phacoemulsification (Phaco+IOL),207,0.0,Visa,NaT,NaN,3,فاكو + زرع عدسه,فاكو + زرع عدسه
5,412,2016-08-21 10:24:34,Intravitreal Lucentis Injection,265,0.0,Cash,NaT,NaN,3,حقن لوسينتوس,حقن لوسينتوس
6,412,2016-09-20 09:24:41,Intravitreal Lucentis Injection,265,0.0,Cash,NaT,NaN,3,حقن لوسينتوس,حقن لوسينتوس
7,412,2016-10-18 10:48:20,Intravitreal Lucentis Injection,265,0.0,Cash,NaT,NaN,3,حقن لوسينتوس,حقن لوسينتوس
10,706,2016-03-19 09:41:37,Phacoemulsification (Phaco+IOL),3,0.0,Cash,NaT,NaN,3,فاكو + زرع عدسه,فاكو + زرع عدسه

* Getting the "Unknown Medical Name" operations category real names

In [55]:
null_op=operations[operations["Service Name"]=="(Unknown Medical Name)"]

rename_op=null_op["Comm. Name_AR"].unique().tolist()

op=operations[(operations["Service Name"]!="(Unknown Medical Name)") & (operations["Comm. Name_AR"].isin(rename_op))]

renamed_op=operations.copy()

* AR/EN dictionary of missing names

In [56]:
names_en_ar={en_name:ar_name for en_name,ar_name in zip(op["Service Name"],op["Comm. Name_AR"]) }
names_ar_en={ar_name:en_name for ar_name,en_name in zip(op["Comm. Name_AR"],op["Service Name"]) }
names_ar_en.keys()

dict_keys(['فاكو + زرع عدسه', 'حقن لوسينتوس', 'ترقيع قرنيه ', 'فيمتو ليزك', 'زرع عدسه', 'فاكو + جسم زجاجى', 'حقن إيليا', 'ازالة جسم زجاجي', 'تثبيت قرنيه', 'PRK', 'فك غرز', 'حلقات', 'فيمتو كتاركت', 'فحص تحت مخدر '])

* Renaming the null operations

In [57]:
for inedx,row in renamed_op.iterrows():
    if row["Service Name"]=="(Unknown Medical Name)":
        renamed_op.at[inedx,"Service Name"]=names_ar_en[row["Comm. Name_AR"]]
    # row["Service Name"].replace(names_ar_en[row["Comm. Name_AR"]])

In [59]:
renamed_op.to_csv("filtered_operations.csv",encoding='utf-8-sig')

In [68]:
renamed_op.ServiceDate = renamed_op.ServiceDate.dt.to_period('M')

In [69]:
renamed_op.head()

,PatientId,ServiceDate,Service Name,DrId,HasInsuranceStatement,Name,BookingDate,Diagnosis,ServiceTypeId,Comm. Name,Comm. Name_AR
0,167,2016-04,Phacoemulsification (Phaco+IOL),207,0.0,Visa,NaT,NaN,3,فاكو + زرع عدسه,فاكو + زرع عدسه
5,412,2016-08,Intravitreal Lucentis Injection,265,0.0,Cash,NaT,NaN,3,حقن لوسينتوس,حقن لوسينتوس
6,412,2016-09,Intravitreal Lucentis Injection,265,0.0,Cash,NaT,NaN,3,حقن لوسينتوس,حقن لوسينتوس
7,412,2016-10,Intravitreal Lucentis Injection,265,0.0,Cash,NaT,NaN,3,حقن لوسينتوس,حقن لوسينتوس
10,706,2016-03,Phacoemulsification (Phaco+IOL),3,0.0,Cash,NaT,NaN,3,فاكو + زرع عدسه,فاكو + زرع عدسه

In [70]:
grouped = pd.DataFrame(renamed_op.groupby(['ServiceDate', 'Service Name'], as_index=False).size())
grouped.head()

                                                         0
ServiceDate Service Name
2016-01     Athens Protocol                             16
            Clear Lens Exchange (CLE / RLE)              1
            Combined Phaco Vitrectomy                   40
            Corneal Cross Linking (CXL)                 15
            Deep Anterior Lamellar Keratoplasty (DALK)   2

In [71]:
grouped.rename(columns={0:'Count'}, inplace=True)
grouped.head()

                                                        Count
ServiceDate Service Name
2016-01     Athens Protocol                                16
            Clear Lens Exchange (CLE / RLE)                 1
            Combined Phaco Vitrectomy                      40
            Corneal Cross Linking (CXL)                    15
            Deep Anterior Lamellar Keratoplasty (DALK)      2

In [72]:
grouped = grouped.reset_index()
grouped.head()

  ServiceDate                                Service Name  Count
0     2016-01                             Athens Protocol     16
1     2016-01             Clear Lens Exchange (CLE / RLE)      1
2     2016-01                   Combined Phaco Vitrectomy     40
3     2016-01                 Corneal Cross Linking (CXL)     15
4     2016-01  Deep Anterior Lamellar Keratoplasty (DALK)      2

In [73]:
day_dict={0:"Monday",1:"Tuesday",2:"Wednesday",3:"Thursday",4:"Friday",5:"Saturday",6:"Sunday"}

In [74]:
grouped['WeekDay'] = grouped.ServiceDate.dt.weekday.map(day_dict)
grouped['DayMonth'] = grouped.ServiceDate.dt.day
grouped['Month'] = grouped.ServiceDate.dt.month
grouped['Year'] = grouped.ServiceDate.dt.year
grouped.head()

,ServiceDate,Service Name,Count,WeekDay,DayMonth,Month,Year
0,2016-01,Athens Protocol,16,Sunday,31,1,2016
1,2016-01,Clear Lens Exchange (CLE / RLE),1,Sunday,31,1,2016
2,2016-01,Combined Phaco Vitrectomy,40,Sunday,31,1,2016
3,2016-01,Corneal Cross Linking (CXL),15,Sunday,31,1,2016
4,2016-01,Deep Anterior Lamellar Keratoplasty (DALK),2,Sunday,31,1,2016

In [66]:
grouped.drop('ServiceDate', axis=1, inplace = True)
grouped.head()

,Service Name,Count,WeekDay,DayMonth,Month,Year
0,Phacoemulsification (Phaco+IOL),1,Saturday,2,1,2016
1,Femto-LASIK,2,Saturday,2,1,2016
2,Laser-Assisted in Situ Keratomileusis (LASIK),1,Saturday,2,1,2016
3,Phacoemulsification (Phaco+IOL),1,Saturday,2,1,2016
4,Phacoemulsification (Phaco+IOL),1,Saturday,2,1,2016

In [75]:
# grouped.to_csv("monthly_training_data.csv",encoding='utf-8-sig')

In [76]:
ServiceNames = {name : idx for idx, name in enumerate(grouped['Service Name'].unique())}

In [77]:
# Here is the data grouped with service name and month
#for every month and sevice name it has the corresponding service count.
processed_data = grouped.copy()
processed_data['Service Name'].replace(ServiceNames, inplace=True)
processed_data.head(10)

  ServiceDate  Service Name  Count WeekDay  DayMonth  Month  Year
0     2016-01             0     16  Sunday        31      1  2016
1     2016-01             1      1  Sunday        31      1  2016
2     2016-01             2     40  Sunday        31      1  2016
3     2016-01             3     15  Sunday        31      1  2016
4     2016-01             4      2  Sunday        31      1  2016
5     2016-01             5     20  Sunday        31      1  2016
6     2016-01             6      9  Sunday        31      1  2016
7     2016-01             7      6  Sunday        31      1  2016
8     2016-01             8    253  Sunday        31      1  2016
9     2016-01             9     15  Sunday        31      1  2016

In [78]:
len(processed_data)

852

In [73]:
# #monthly grouped data regardless of Service name
# month_group = pd.DataFrame(processed_data.drop('Service Name', axis=1).groupby('ServiceDate').sum())
# month_group = month_group.reset_index()
# print(len(month_group))
# month_group.head()