In [80]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import OneHotEncoder

In [81]:
# data=pd.read_csv("training_data.csv",usecols=["Service Name","Month","Count"])
data=pd.read_csv("Monthly_Training_Data.csv",usecols=["Service Name","Month","Year","Count"])
data.head()

                                 Service Name  Count  Month  Year
0                             Athens Protocol     16      1  2016
1             Clear Lens Exchange (CLE / RLE)      1      1  2016
2                   Combined Phaco Vitrectomy     40      1  2016
3                 Corneal Cross Linking (CXL)     15      1  2016
4  Deep Anterior Lamellar Keratoplasty (DALK)      2      1  2016

In [82]:
ServiceNames = {name : idx for idx, name in enumerate(data['Service Name'].unique())}
ServiceIndex= {idx : name for idx, name in enumerate(data['Service Name'].unique())}

In [83]:
processed_data = data.copy()
processed_data['Service Name']=processed_data['Service Name'].map(ServiceNames)
processed_data.head()

   Service Name  Count  Month  Year
0             0     16      1  2016
1             1      1      1  2016
2             2     40      1  2016
3             3     15      1  2016
4             4      2      1  2016

In [84]:
processed_data['Service Name'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40], dtype=int64)

In [85]:
X=processed_data.drop(["Count"],axis=1)
y=processed_data["Count"]

In [86]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2,random_state=7)

In [87]:
regressor = RandomForestRegressor(n_estimators = 100, random_state = 7)

In [88]:
regressor.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=7, verbose=0, warm_start=False)

In [89]:
print(f'Model Accuracy: {regressor.score(X_train, y_train)}')

Model Accuracy: 0.9941753920376575

In [90]:
pred = regressor.predict(X_test)
err = mean_absolute_error(pred, y_test)
print(err)

16.027426900584793

In [91]:
y_test.iloc[-1]

2

In [92]:
pred[-1]

8.36

In [97]:
last_2_month_data= processed_data[(processed_data.Year==2018) & ((processed_data.Month==12) | (processed_data.Month==11)) ]
last_2_month_data.head()

     Service Name  Count  Month  Year
806             0     16     11  2018
807             2     50     11  2018
808             3     24     11  2018
809             4     15     11  2018
810             5     30     11  2018

In [98]:
y_last_2_month_data=last_2_month_data["Service Name"]
X_last_2_month_data=last_2_month_data.drop(["Service Name"],axis=1)

pred = regressor.predict(X_last_2_month_data)
err = mean_absolute_error(pred,y_last_2_month_data)
print(err)

61.634347826086945

In [105]:
last_2_month_data["predicted_count"]=pred
last_2_month_data["Service Name"]=last_2_month_data["Service Name"].map(ServiceIndex)
last_2_month_data
# last_2_month_data.to_csv("last_two_months_predictions_1.csv",encoding='utf-8-sig')

    Service Name  Count  Month  Year  predicted_count
806          NaN     16     11  2018             6.71
807          NaN     50     11  2018             3.12
808          NaN     24     11  2018             7.92
809          NaN     15     11  2018             3.86
810          NaN     30     11  2018             8.50
811          NaN     13     11  2018           348.80
812          NaN     14     11  2018            76.46
813          NaN    368     11  2018             3.12
814          NaN      5     11  2018            32.12
815          NaN      7     11  2018            12.57
816          NaN    176     11  2018             3.12
817          NaN    344     11  2018             3.12
818          NaN     64     11  2018             3.12
819          NaN      8     11  2018           364.90
820          NaN     34     11  2018             3.41
821          NaN   1076     11  2018             3.12
822          NaN     43     11  2018             3.12
823          NaN     38     11  2018             3.12
824          NaN     44     11  2018             3.12
825          NaN     27     11  2018            35.90
826          NaN     29     11  2018             8.54
827          NaN     33     11  2018             3.24
828          NaN     18     12  2018           921.46
829          NaN     49     12  2018             2.09
830          NaN      1     12  2018             2.15
831          NaN     15     12  2018             3.34
832          NaN     12     12  2018           168.89
833          NaN     27     12  2018            32.23
834          NaN      8     12  2018           361.77
835          NaN     12     12  2018           168.89
836          NaN    360     12  2018             2.09
837          NaN      1     12  2018             2.15
838          NaN      6     12  2018            15.07
839          NaN    166     12  2018             2.09
840          NaN    371     12  2018             2.09
841          NaN     66     12  2018             2.09
842          NaN      1     12  2018             2.15
843          NaN      3     12  2018            17.22
844          NaN     37     12  2018             2.09
845          NaN    864     12  2018             2.09
846          NaN     21     12  2018            29.53
847          NaN     32     12  2018             2.28
848          NaN     44     12  2018             2.09
849          NaN     29     12  2018             7.39
850          NaN     34     12  2018             2.32
851          NaN     35     12  2018             2.23